global-exclude *.py[cod]
global-exclude __pycache__
prune tests
prune __pycache__
recursive-include haupt/common/apis/templates *
recursive-include haupt/static *
include haupt/py.typed
include ../README.md
include ../LICENSE
include ../CONTRIBUTING.md
