name: Tests

on:
  push:
    branches:
    - master
    - testing
jobs:
  library:
    #    if: github.event.comment.body == 'test core'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11']
    steps:
    - run: |
        pip install -U haupt
  local-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade pip
      run: |
        which python
        python -m pip install --upgrade pip
    - name: Install test dependencies
      run: pip install -r haupt/requirements/test.txt
    - name: Install platform test dependencies
      run: pip install -r haupt/requirements/platform-test.txt
    - name: Install dev dependencies
      run: pip install -r haupt/requirements/dev.txt
    - name: Install master dependencies
      run: pip install -r haupt/requirements/master.txt
    - name: Install required dependencies
      run: pip install -r haupt/requirements/requirements.txt
    - name: Install platform dependencies
      run: pip install -r haupt/requirements/platform.txt
    - name: Install streams dependencies
      run: pip install -r haupt/requirements/streams.txt
    - name: Test with sqlite locally
      run: cmd/test local-sqlite
  container-sqlite-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: |
          cmd/rebuild
      - name: test
        run: |
          cmd/test container-sqlite
  container-pgsql-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: |
          cmd/rebuild
      - name: test
        run: |
          cmd/test container-pgsql
