<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>Polyaxon</title>
  <style>
    .plxLoading {
      position: fixed;
      top: 35%;
      left: 50%;
      width: 64px;
      height: 64px;
      transform: translate(-50%, -50%);
    }
    .plxLoading svg {
      display: block;
      width: 100%;
      height: 100%;
    }
    @media (prefers-reduced-motion: no-preference) {
      .plxLoading path {
        animation: plxLoading 1.2s ease-in-out infinite;
      }
      .plxLoading path:nth-of-type(2) {
        animation-delay: -0.4s;
      }
      .plxLoading path:nth-of-type(3) {
        animation-delay: -0.8s;
      }
    }
    @keyframes plxLoading {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0.35;
      }
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}?version={{ ui_assets_version }}"/>
  <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}?version={{ ui_assets_version }}"/>
  <base href="{{ ui_base_url }}">
</head>

<body class="plxBody">
  <div id="root" class="plxLayout">
    <div class="plxLoading" role="status" aria-label="Loading Polyaxon">
      <svg viewBox="220 196 816 816" aria-hidden="true">
        <path fill="#02C1D3"
          d="M366 881.405591
            L366 382.854228
            A20 20 0 0 1 376 365.53372
            L665 198.679492
            A20 20 0 0 1 685 198.679492
            L750.5 236.495935
            A3 3 0 0 1 750.5 241.692087
            L456 411.721741
            A20 20 0 0 0 446 429.042249
            L446 929.325663
            A3 3 0 0 1 441.5 931.923739
            L372 891.797895
            A12 12 0 0 1 366 881.405591
            Z"/>
        <path fill="#F2B222" transform="translate(138 79.674337)"
          d="M366 881.405591
            L366 382.854228
            A20 20 0 0 1 376 365.53372
            L665 198.679492
            A20 20 0 0 1 685 198.679492
            L750.5 236.495935
            A3 3 0 0 1 750.5 241.692087
            L456 411.721741
            A20 20 0 0 0 446 429.042249
            L446 929.325663
            A3 3 0 0 1 441.5 931.923739
            L372 891.797895
            A12 12 0 0 1 366 881.405591
            Z"/>
        <path fill="#F54151"
          d="M885.5 390.071106
            L811.5 432.795026
            A3 3 0 0 0 810 435.393102
            L810 616.103737
            A20 20 0 0 1 800 633.424245
            L648 721.181486
            A12 12 0 0 0 642 731.57379
            L642 811.825478
            A3 3 0 0 0 646.5 814.423554
            L880 679.612266
            A20 20 0 0 0 890 662.291758
            L890 392.669182
            A3 3 0 0 0 885.5 390.071106
            Z"/>
      </svg>
    </div>
  </div>

  <!-- Dependencies -->
  {% if ui_enabled %}
  {% if ui_offline %}
  <script src="{% static 'vendors/js/react.production.18.0.2.min.js' %}"></script>
  <script src="{% static 'vendors/js/react-dom.production.18.0.2.min.js' %}"></script>
  <script src="{% static 'vendors/js/moment.2.30.1.min.js' %}"></script>
  <script src="{% static 'vendors/js/plotly.3.1.1.min.js' %}"></script>
  <script src="{% static 'vendors/js/create-plotly-component.2.6.0.min.js' %}"></script>
  <script src="{% static 'vendors/js/bokeh.3.2.0.min.js' %}"></script>
  <script src="{% static 'vendors/js/vega@5.min.js' %}"></script>
  <script src="{% static 'vendors/js/vega-lite@5.min.js' %}"></script>
  <script src="{% static 'vendors/js/vega-embed@6.min.js' %}"></script>
  {% else %}
  <script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.1.1/plotly.min.js"></script>
  <script src="https://unpkg.com/react-plotly.js@2.6.0/dist/create-plotly-component.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.2.0/bokeh.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.25.0/build/vega.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.11.1/build/vega-lite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.1/build/vega-embed.min.js"></script>
  {% endif %}
  <script src="{% static 'dist/js/0.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/1.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/2.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/3.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/4.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/5.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/6.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/7.bundle.js' %}?version={{ ui_assets_version }}"></script>
  {% endif %}
</body>

</html>
