<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>Polyaxon</title>
  <style>
    .plxLoading {
      position: fixed;
      top: 35%;
      left: 50%;
      width: 64px;
      height: 64px;
      transform: translate(-50%, -50%);
    }
    .plxLoading svg {
      display: block;
      width: 100%;
      height: 100%;
    }
    .plxLoading path {
      animation: plxLoading 1.2s ease-in-out infinite;
    }
    .plxLoading path:nth-child(2) {
      animation-delay: -0.6s;
    }
    @keyframes plxLoading {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0.35;
      }
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}?version={{ ui_assets_version }}"/>
  <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}?version={{ ui_assets_version }}"/>
  <base href="{{ ui_base_url }}">
</head>

<body class="plxBody">
  <div id="root" class="plxLayout">
    <div class="plxLoading" role="status" aria-label="Loading Polyaxon">
      <svg viewBox="220 196 816 816" aria-hidden="true">
        <g transform="translate(0 1254) scale(.1 -.1)">
          <path fill="#0284C7" d="M6690 10561 c-25 -10 -252 -141 -505 -291 -253 -150 -496 -294 -540 -320 -85 -49 -866 -513 -1195 -710 -107 -64 -305 -181 -439 -260 -135 -80 -260 -160 -279 -179 -19 -19 -46 -59 -61 -90 l-26 -56 0 -2255 c0 -2081 1 -2257 17 -2285 30 -56 66 -81 389 -275 284 -170 325 -192 348 -184 18 7 27 19 32 42 4 18 7 1012 8 2207 2 1875 4 2182 17 2224 23 80 71 141 154 194 72 47 2467 1483 2817 1690 220 129 219 127 66 217 -60 34 -206 121 -325 192 -120 71 -236 135 -259 143 -57 20 -163 18 -219 -4z"/>
          <path fill="#0F172A" d="M8050 9772 c-84 -34 -2894 -1721 -2943 -1768 -21 -19 -51 -61 -65 -92 l-27 -57 -3 -2473 -2 -2473 21 -49 c11 -26 30 -57 42 -69 40 -36 608 -371 632 -371 12 0 28 6 34 13 8 10 12 687 13 2488 l3 2474 27 46 c26 44 72 73 1122 702 1137 682 1132 679 1179 644 10 -6 21 -24 25 -39 4 -15 5 -490 2 -1056 l-5 -1029 -30 -48 c-29 -46 -67 -71 -800 -517 -423 -258 -794 -484 -824 -501 -30 -18 -68 -49 -85 -70 l-31 -39 -3 -464 c-1 -255 0 -464 3 -464 4 0 427 255 1380 833 182 110 494 299 695 419 268 161 377 232 411 268 85 89 79 -37 79 1684 0 1095 -3 1530 -11 1562 -19 76 -71 118 -329 270 -129 76 -257 150 -285 163 -65 33 -161 39 -225 13z"/>
        </g>
      </svg>
    </div>
  </div>

  <!-- Dependencies -->
  {% if ui_enabled %}
  {% if ui_offline %}
  <script src="{% static 'vendors/js/react.production.18.0.2.min.js' %}"></script>
  <script src="{% static 'vendors/js/react-dom.production.18.0.2.min.js' %}"></script>
  <script src="{% static 'vendors/js/moment.2.30.1.min.js' %}"></script>
  <script src="{% static 'vendors/js/plotly.3.1.1.min.js' %}"></script>
  <script src="{% static 'vendors/js/create-plotly-component.2.6.0.min.js' %}"></script>
  <script src="{% static 'vendors/js/bokeh.3.2.0.min.js' %}"></script>
  <script src="{% static 'vendors/js/vega@5.min.js' %}"></script>
  <script src="{% static 'vendors/js/vega-lite@5.min.js' %}"></script>
  <script src="{% static 'vendors/js/vega-embed@6.min.js' %}"></script>
  {% else %}
  <script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.1.1/plotly.min.js"></script>
  <script src="https://unpkg.com/react-plotly.js@2.6.0/dist/create-plotly-component.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.2.0/bokeh.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.25.0/build/vega.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.11.1/build/vega-lite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.1/build/vega-embed.min.js"></script>
  {% endif %}
  <script src="{% static 'dist/js/0.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/1.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/2.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/3.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/4.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/5.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/6.bundle.js' %}?version={{ ui_assets_version }}"></script>
  <script src="{% static 'dist/js/7.bundle.js' %}?version={{ ui_assets_version }}"></script>
  {% endif %}
</body>

</html>
